<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/style.css">
        <link rel = "icon" href = 'weather.png'>
        <!-- <script type="text/javascript" src="../js/app.js"> -->
        </script>
        <title>404</title>
    </head>
    <body>
        <div class = "main-content">
            {{>header}}
            <p> {{errorMessage}} </p>
        <!-- <img src="robot.png" alt="Robot Pic"> -->
        </div>
        {{>footer}}
    </body>
</html>
