<!DOCTYPE html>
 <html lang="en" dir="ltr">
     <head>
         <link rel="stylesheet" href="../css/style.css">
         <link rel = "icon" href = 'weather.png'>
         <meta charset="utf-8">
         <title> About </title>
     </head>
     <body>
        <div class = "main-content">
            {{>header}}
            <p> About {{about}}, Created by {{name}}</p>
            <img src="robot.png" alt="Robot Pic" class = "potrait">
        </div>
        {{>footer}}
     </body>
 </html>
