<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel = "icon" href = 'weather.png'>
        <link rel="stylesheet" href="../css/style.css">
        <title>Help</title>
    </head>
    <body>
        <div class = "main-content">
            {{>header}}
            <p> Help Page </p>
        </div>
        {{>footer}}
    </body>
</html>
